<div class="trend">
    <h1 class="head-light head"><i class="fa-solid fa-bolt"></i>تريند المصير اليوم  <span class="line"></span></h1>
    <div class="swiper trendSlider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                    <img src="./assets/imgs/trend.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="head-eg">اقتصاد مصري</h4>
                    <p>مستثمرون يتوقعون حصيلة صادرات العقار المصري سنويا</p>
                    <span class="date"><i class="fa-regular fa-calendar-days"></i> اكتوبر 12/23</span>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
